<div id="appLauncherContainer">
  <div class="container">

 
    <div class="create-presentation-cta text-center" ng-hide="addPresentation">

      <h1>How simple is digital signage with Rise Vision?</h1>
      <h3>Start with a <span>Presentation</span> and then <span>Schedule</span> it with your <span>Display</span></h3>

      <div class="add-bottom add-top">
        <img src="https://s3.amazonaws.com/Rise-Images/Icons/diagram@2x.png">
      </div>
      <button class="btn btn-hg btn-primary add-top" ng-click="addPresentation = !addPresentation">Add Presentation <i class="fa fa-plus icon-right"></i></button>

    </div>

    <div class="row" ng-hide="addPresentation">
      <div class="col-sm-6"></div>
      <div class="col-sm-6">
        <div class="priority-trial-cta">
          <span class="half-top add-right fa fa-times fa-lg pull-right"></span>
          <div class="content-box-body">
            <h3>Need Help?</h3>
            <p>Get 10 days of Priority Support for FREE!</p>
            <button class="btn btn-lg btn-primary">Get Priority Support</button>
          </div>
        </div><!--context-box-->
      </div><!--col-->
    </div>

    
  
    <div ng-show="addPresentation">
    <div class="text-right add-top add-bottom">
      <button class="btn btn-link" ng-click="showHelp = !showHelp">How does this work <i class="fa fa-question"></i></button>
    </div>


    <div class="video-box add-bottom" ng-show="showHelp">
      <video class="demo img-responsive" ng-show="showHelp" autoplay loop preload="auto" poster="https://s3.amazonaws.com/Rise-Images/Animations/loader.png">
      <source src="https://s3.amazonaws.com/Rise-Images/Animations/howitworks.mp4" type="video/mp4">
      Your browser does not support the video tag.
      </video>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <button class="btn btn-link pull-right visible-lg">Add Presentation <i class="fa fa-plus icon-right"></i></button>
        <h3><img src="https://s3.amazonaws.com/Rise-Images/Icons/presentations-icon.png" class="add-right"> Presentations</h3>
        <button class="btn btn-default btn-sm btn-block hidden-lg">Add Presentation <i class="fa fa-plus icon-right"></i></button>
          <div class="scrollable-list"> 
            <div class="list" ng-class="{'help-active' : showHelp}">
              <div class="list-item clickable">
                <h4>My First Presentation</h4>
              </div><!--list-item-->
              <div class="list-item clickable">
                <h4>Another Presentation</h4>
              </div><!--list-item-->
              <div class="list-item clickable">
                <h4>Another Presentation</h4>
              </div><!--list-item-->
              <div class="list-item clickable">
                <h4>Another Presentation</h4>
              </div><!--list-item-->
              
            </div>
          </div><!--scrollable-list-->
          <a class="add-top add-bottom btn btn-default btn-block" href="#">View All Presentations</a>
      </div><!--col-->

      <div class="col-sm-4">
        <button class="btn btn-link pull-right visible-lg">Add Schedule <i class="fa fa-plus icon-right"></i></button>
        <h3><img src="https://s3.amazonaws.com/Rise-Images/Icons/schedules-icon.png" class="add-right"> Schedules</h3>
        <button class="btn btn-default btn-sm btn-block hidden-lg">Add Schedule <i class="fa fa-plus icon-right"></i></button>
          <div class="scrollable-list"> 
            <div class="list" ng-class="{'help-active' : showHelp}">
              <div class="list-item clickable">
                <h4>My First Schedule</h4>
              </div><!--list-item-->
            </div>
          </div><!--scrollable-list-->
          <a class="add-top add-bottom btn btn-default btn-block" href="#">View All Schedules</a>
      </div><!--col-->

      <div class="col-sm-4">
        <button class="btn btn-link pull-right visible-lg">Add Display <i class="fa fa-plus icon-right"></i></button>
        <h3><img src="https://s3.amazonaws.com/Rise-Images/Icons/displays-icon.png" class="add-right"> Displays</h3>
        <button class="btn btn-default btn-sm btn-block hidden-lg">Add Display <i class="fa fa-plus icon-right"></i></button>
          <div class="scrollable-list text-center"> 
                <h4 class="text-muted add-bottom add-top">No Displays</h4>
                <button class="btn btn-primary btn-lg">Add Display <i class="fa fa-plus icon-right"></i></button>
          </div><!--scrollable-list-->
      </div><!--col-->


    </div><!--row-->
  </div><!--page-content-->
  </div><!--hidden-->
</div><!--appLauncherContainer-->
