<style type="text/css">
  .pt-media-list li {
    border: 1px solid #d4d4d4;
    height: 100px;
    width: 100px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  .pt-media-list li img {
  }
  .pt-media-list li:hover {
    border-color: #4ab767;
  }
  .btn-upload {
    background: #f2f2f2;
    color: #555;
  }
  .btn-upload span {
    display: block;
    font-weight: 500;
    font-size: 16px;
  }
  .btn-upload i {
    margin-top: 20px;
    font-size: 24px;
  }
  .pt-overlay {
    position: absolute;
    text-align: center;
    line-height: 100px;
    font-size: 36px;
    display: block;
    width: 100px;
    color: #FFF;
    background: rgba(0,0,0,0.4);
  }
</style>
<div class="modal-header">
  <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">
    <i class="fa fa-times"></i>
  </button>

  <h3 class="modal-title">Select Image(s)</h3>
</div>
<div class="modal-body">

  <div class="add-bottom">
    <button class="btn btn-default" ng-class="{active: selected}" ng-init="selected=true" ng-click="selected=true;fileDialog()" type="button" >
      Storage&nbsp;&nbsp;<img src="http://s3.amazonaws.com/Rise-Images/Icons/storage.png" class="storage-selector-icon" ng-class="{'icon-right': label}">
    </button>
    <button class="btn btn-default" ng-class="{active: !selected}" ng-click="selected=false;fileDialog()" type="button" >
      By Url&nbsp;&nbsp;<i class="fa fa-link"></i>
    </button>
  </div>
  
  <search-filter filter-config="filterConfig" search="search" do-search="search.doSearch"></search-filter>

  <form id="uploadform">
    <input type="file" id="upload-files" file-select multiple style="visibility: hidden;">
  </form>
  
  <div ng-show="selected">
    <ul class="list-unstyled pt-media-list">
      <label for="upload-files">
        <li class="btn-upload">
          <i class="fa fa-arrow-up"></i>
          <span>Upload</span>
        </li>
      </label>
      <li><img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_002.jpg"></li>
      <li><img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_001.jpg"></li>
      <li><img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flower_003.jpg"></li>
      <li>
      <i class="fa fa-play pt-overlay"></i>
      <img style="width: 100%;
    height: 100%;" src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_005.jpg"></li>
    </ul>

    <div class="add-top text-right">
      <p class="text-muted remove-bottom pull-left">Tip: You can drag and drop files here to upload them.</p>
      <button class="btn btn-primary">Select <i class="fa fa-check icon-right"></i></button>
      <button class="btn btn-default" ng-click="dismiss()">
        {{'common.cancel' | translate}} <i class="fa fa-white fa-times icon-right"></i>
      </button>
    </div>
  </div>
  
  <div ng-hide="selected">
    <label class="control-label">URL</label>
    <div class="input-group">
      
      <input type="text" name="" class="form-control">
      <span class="input-group-addon clickable">
        Add
      </span>
    </div>

    <div class="content-box add-padding add-top">
      <h3 class="remove-top">Try Storage</h3>
      <p>Add multiple images, create slideshows, and get automatic video encoding.</p>
      <p>Free 30 days trial. No credit card required.
$10 per Company per Month.</p>
      <button class="btn btn-primary">Start Your Free Trial</button>
    </div>

  </div>

</div><!--file-selector-->
