<style>
.editor-playlist-item {
  box-shadow:0 2px 2px rgba(40,40,40,0.1);
}

.playlist-item-thumbnail {
  overflow: hidden;
  height: 44px;
  width: 44px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  float: left;
  margin-right: 10px;
}
.playlist-item-thumbnail img {
  width: 100%;
}

.editor-playlist .editor-playlist-item .playlist-item-name span {
  max-width: 100px;
}
</style>

<!-- <div> Add </div> -->
<div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-default" ng-click="addItemShortcut('image')"><image src="https://s3.amazonaws.com/ux-design/sprint_prototype/noun_18307_cc.svg"></image>
<span style="
    font-size: 13px;
    display: block;
    text-align: center;
    line-height: 15px;
">Image</span></a></a>
  <a href="#" class="btn btn-default" ng-click="addItemShortcut('video')"><image src="https://s3.amazonaws.com/ux-design/sprint_prototype/noun_14211_cc.svg"></image>
<span style="
    font-size: 13px;
    display: block;
    text-align: center;
    line-height: 15px;
">Video</span></a></a>
  <a href="#" class="btn btn-default" ng-click="addTextShortcut()"><image src="https://s3.amazonaws.com/ux-design/sprint_prototype/noun_508199_cc.svg"></image><span style="
    font-size: 13px;
    display: block;
    text-align: center;
    line-height: 15px;
">Text</span></a>
  <a href="#" class="btn btn-default" ng-click="playlistItemFactory.addContent()">
    <!-- <span class="ph-item-icon"></span> -->
    <image src="https://s3.amazonaws.com/ux-design/sprint_prototype/noun_309406_cc.svg"></image>
    <span style="
    font-size: 13px;
    display: block;
    text-align: center;
    line-height: 15px;
">Widget</span></a>
    <!-- <i class="fa fa-plus icon-right"></i> -->
  </a>
</div>

<div class="editor-playlist scrollable-list add-top">
  <div class="editor-playlist-item    clickable" ng-repeat="item in factory.getItems() track by $index">

    <div class="arrows">
      <button class="btn btn-block btn-xs btn-default" id="moveUpButton" ng-click="factory.movePlaylistItemUp(item)" ng-disabled="!factory.canPlaylistItemMoveUp(item)"><i class="fa fa-arrow-up"></i></button>
      <button class="btn btn-block btn-xs btn-default" id="moveDownButton" ng-click="factory.movePlaylistItemDown(item)" ng-disabled="!factory.canPlaylistItemMoveDown(item)"><i class="fa fa-arrow-down"></i></button>
    </div><!--arrows-->

    <div class="actions">
      <button class="btn btn-sm btn-default" id="duplicateButton" ng-click="factory.duplicateItem(item)"><i class="fa fa-copy"></i></button>
      <button class="btn btn-sm btn-default" id="removeButton" ng-click="remove(item)"><i class="fa fa-trash-o"></i></button>
    </div>

    
    <div class="playlist-item-content">
      <div class="playlist-item-thumbnail">
        <img ng-src="https://storage.googleapis.com/risemedialibrary-f114ad26-949d-44b4-87e9-8528afc76ce4/{{item.name}}">
      </div>

      <div class="nameContainer" ng-show="item.type === 'widget' && (item.objectReference || item.settingsUrl)">
        <a href="#" ng-click="playlistItemFactory.edit(item,false)">
          <p class="playlist-item-name"><span>{{item.name}}</span></p>
          
          <p class="text-small text-muted remove-bottom">
            <span class="playlist-item-status">{{item.duration}} sec</span>
          </p>
        </a>
      </div>
      <div  class="nameContainer" ng-hide="item.type === 'widget' && (item.objectReference || item.settingsUrl)" >
        <p class="playlist-item-name">{{item.name}}</p>
      </div>
      
      
      <!-- <p class="text-small text-muted remove-bottom {{item.subscriptionStatus|subscriptionStatusClass}}">
        <span class="playlist-item-status">{{item.statusMessage}}</span>
      </p> -->
    </div>

  </div><!--playlist-->
  
  <div ng-hide="factory.getItems().length">
    <p class="text-center text-muted">This Is a Playlist.
      <br> 
      Get Started by Adding Images, Video, Text and Widgets.</p>
  </div>
</div><!--editor-playlist-->
