</style>
<div class="btn-group btn-group-justified">
    <a href="#" class="btn btn-default" ng-click="addItemShortcut('image')">
        <svg-icon p="riseWidgetImageMulti"></svg-icon>
        <span>Images</span>
    </a>
    <a href="#" class="btn btn-default" ng-click="addItemShortcut('video')">
         <svg-icon p="riseWidgetVideo"></svg-icon>
        <span>Video</span>
    </a>
    <a href="#" class="btn btn-default" ng-click="addTextShortcut()">
        <svg-icon p="riseWidgetText"></svg-icon>
        <span>Text</span>
    </a>
    <a href="#" class="btn btn-default" ng-click="playlistItemFactory.addContent()">
        <svg-icon p="riseWidgetMore"></svg-icon>
        <span>More</span>
    </a>
</div>

<div id="listWithHandle" class="editor-playlist scrollable-list add-top">
    <!-- Item Playlist -->
    <div class="editor-playlist-item" ng-repeat="item in factory.getItems() track by $index" ng-show="factory.getItems().length">
       <div class="arrows">
        <i class="fa fa-grip-large fa-rotate-90">
        </i>
        </div>

        <div class="actions">
            <button type="button" class="btn btn-xs btn-default editPlaylistItem" ng-click="playlistItemFactory.loadClassicFileSelector()" title="Settings" data-toggle="tooltip" data-placement="left" tooltip>
            <i class="fa fa-cog"></i>
            </button>
            <button class="btn btn-xs btn-default" id="duplicateButton" ng-click="factory.duplicateItem(item)" title="Duplicate" data-toggle="tooltip" data-placement="left" tooltip><i class="fa fa-copy"></i></button>
            <button class="btn btn-xs btn-default" id="removeButton" ng-click="remove(item)" title="Delete" data-toggle="tooltip" data-placement="left" tooltip><i class="fa fa-trash-o"></i></button>
        </div>
        <div>
            <div class="nameContainer" ng-show="item.type === 'widget' && (item.objectReference || item.settingsUrl)">
                    <!-- //MAKE CLASS -->
                    <span style="width: 16px;height: 16px;display: inline-block;top: -1px;position: relative;">
                        <svg-icon p="riseWidgetImage"></svg-icon>
                        <svg-icon p="riseWidgetVideo"></svg-icon>
                        <svg-icon p="riseWidgetText"></svg-icon>
                        <svg-icon p="riseWidgetMore"></svg-icon>
                        <svg-icon p="riseWidgetImageMulti"></svg-icon>
                        <svg-icon p="riseWidgetFolder"></svg-icon>
                    </span>
                    <!-- //MAKE CLASS -->
                    <span style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 125px;display: inline-block;">{{item.name}}
                    </span>
               <!-- //MAKE CLASS -->
                <a href="#" class="btn-link" style="display:inline-block;" >
                    <span class="playlist-item-name" ng-click="playlistItemFactory.edit(item)"> Duration: </span>
                    <span class="playlist-item-duration"> val </span>
                </a>
            </div>
            <p class="text-small text-muted remove-bottom {{item.subscriptionStatus|subscriptionStatusClass}}">
                <span class="playlist-item-status">valStat</span>
            </p>
        </div>
        <!-- Empty State -->
        <div ng-hide="factory.getItems().length">
            <p class="text-muted text-center remove-bottom"> Click Image, Video, Text or More to add to this Playlist </p>
        </div>
    </div>
    <!-- End Item Playlist-->
</div>


<script>
// List with handle
Sortable.create(listWithHandle, {
  handle: '.arrows',
  animation: 150
});
</script>
<script type="text/ng-template" id="popover.html">
    <div>
        Popover content
    </div>
</script>




