<div id="playlistItemModal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()">
      <i class="fa fa-times"></i>
    </button>
    <h3 class="modal-title" translate>editor-app.playlistItem.title</h3>
  </div>
  <div class="modal-body" stop-event="touchend">
    <div class="btn-group btn-group-justified half-bottom" role="group" aria-label="...">
      <a class="btn btn-default" ng-class="{active: selected}" ng-init="selected=true" ng-click="selected=true;" type="button" >
        Properties&nbsp;&nbsp;</i>
      </a>
      <a class="btn btn-default" ng-class="{active: !selected}" ng-click="selected=false;" type="button" >
        Settings&nbsp;&nbsp;</i>
      </a>
    </div>

    <div ng-show="selected">

<div class="row">
<div class="col-xs-12">
<form role="form" name="settingsForm" class="ng-valid ng-valid-selector-valid ng-dirty ng-valid-parse">

      <!-- Resume Playback -->
      <div class="form-group ng-hide" ng-show="isFolder">
        <div class="checkbox">
          <label for="resume" class="ng-binding">
            <input id="resume" type="checkbox" ng-model="settings.additionalParams.resume" class="ng-pristine ng-untouched ng-valid">
            Resume Playing from Last Position
          </label>
        </div>
      </div>

      <!-- Scale to Fit -->
      <div class="form-group">
        <div class="checkbox">
          <label for="scale-to-fit" class="ng-binding">
            <input id="scale-to-fit" type="checkbox" ng-model="settings.additionalParams.scaleToFit" class="ng-pristine ng-untouched ng-valid">
            Scale to Fit
          </label>
        </div>
      </div>

      <!-- Alignment -->
      <div class="form-group">
        <position-setting position="settings.additionalParams.position" class="ng-isolate-scope"><div class="row">
  <div class="col-md-4">
    <!-- ngIf: !hideLabel --><label ng-if="!hideLabel" class="ng-binding ng-scope"> Alignment</label><!-- end ngIf: !hideLabel -->
    <select name="position" ng-model="position" class="form-control ng-pristine ng-untouched ng-valid">
      <option value="top-left" class="ng-binding">Top Left</option>
      <option value="top-center" class="ng-binding">Top Center</option>
      <option value="top-right" class="ng-binding">Top Right</option>
      <option value="middle-left" class="ng-binding">Middle Left</option>
      <option value="middle-center" class="ng-binding">Middle Center</option>
      <option value="middle-right" class="ng-binding">Middle Right</option>
      <option value="bottom-left" class="ng-binding">Bottom Left</option>
      <option value="bottom-center" class="ng-binding">Bottom Center</option>
      <option value="bottom-right" class="ng-binding">Bottom Right</option>
    </select>
  </div>
</div>
</position-setting>
      </div>

      <!-- Duration -->
      <div class="form-group ng-hide" ng-show="isFolder">
        <label class="ng-binding">Duration each image shows for:</label>
        <div class="row">
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" class="form-control ng-pristine ng-untouched ng-valid" value="10" ng-model="settings.additionalParams.duration">
              <span class="input-group-addon">sec</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Resume Playing After -->
      <div class="form-group ng-hide" ng-show="isFolder">
        <label class="ng-binding">If image is touched resume playing after:</label>
        <div class="row">
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" class="form-control ng-pristine ng-untouched ng-valid" value="10" ng-model="settings.additionalParams.pause">
              <span class="input-group-addon">sec</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Auto Hide Navigation -->
      <div class="form-group ng-hide" ng-show="isFolder">
        <div class="checkbox">
          <label for="auto-hide" class="ng-binding">
            <input type="checkbox" ng-model="settings.additionalParams.autoHide" class="ng-pristine ng-untouched ng-valid">
            Auto Hide Navigation
          </label>
        </div>
      </div>

      <hr>

      <!-- Button Toolbar -->
      <widget-button-toolbar save="saveSettings()" cancel="closeSettings()" disable-save="settingsForm.$invalid" class="ng-isolate-scope"><div class="pull-right">
  <button id="save" class="btn btn-primary btn-fixed-width" type="button" ng-click="save()" ng-disabled="disableSave()">
    <span class="ng-binding">Save</span>
    <i class="fa fa-white fa-check icon-right"></i>
  </button>
  <button id="cancel" class="btn btn-default btn-fixed-width" type="button" ng-click="cancel()">
    <span class="ng-binding">Cancel</span>
    <i class="fa fa-white fa-times icon-right"></i>
  </button>
</div>
</widget-button-toolbar>

</form>
</div>
</div>


    </div>

    <div ng-hide="selected">
      <div class="content-box" ng-show="item.type === 'gadget'">
        <div class="content-box-body bg-warning">
          <p class="remove-bottom"><span translate>editor-app.playlistItem.legacyWarningPart1</span> <a  href="{{PREVIOUS_EDITOR_URL}}" target="_blank"><span translate>editor-app.playlistItem.legacyWarningPart2</span></a> <span translate>editor-app.playlistItem.legacyWarningPart3</span></p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" translate>editor-app.playlistItem.name</label>
        <input type="text" class="form-control" ng-model="item.name">
      </div>

      <gadget-subscription-status item="item"></gadget-subscription-status>

    <!--   <p ng-show="widgetName"><strong>{{'editor-app.playlistItem.content' | translate}}:</strong>
        <a id="widgetName" class="link add-left" href="" ng-click="widgetModalFactory.showWidgetModal(item)">
          {{widgetName}} <i class="fa fa-cog icon-right"></i>
        </a>
      </p> -->
      <hr>

      <div class="form-group half-top">

        <label class="control-label add-right" translate>editor-app.playlistItem.duration</label>
        <label class="control-label control-label-secondary add-left">
          <input type="checkbox" ng-model="item.playUntilDone" />
          <span translate>editor-app.playlistItem.playUntilDone</span>
        </label>
        <div class="row" ng-if="!item.playUntilDone">
          <div class="col-sm-4">
            <div class="input-group">
              <input type="number" class="form-control" id="itemDuration" ng-model="item.duration" />
              <span class="input-group-addon" translate>editor-app.playlistItem.seconds</span>
            </div>
          </div>
        </div><!--row-->
      </div>

      <div class="form-group">
        <label class="control-label add-right" translate>schedules-app.fields.timeline</label>
        <timeline-textbox
        time-defined = "item.timeDefined"
        start-date = "item.startDate"
        end-date = "item.endDate"
        start-time = "item.startTime"
        end-time = "item.endTime"
        recurrence-type = "item.recurrenceType"
        recurrence-frequency = "item.recurrenceFrequency"
        recurrence-absolute = "item.recurrenceAbsolute"
        recurrence-day-of-week = "item.recurrenceDayOfWeek"
        recurrence-day-of-month = "item.recurrenceDayOfMonth"
        recurrence-week-of-month = "item.recurrenceWeekOfMonth"
        recurrence-month-of-year = "item.recurrenceMonthOfYear"
        recurrence-days-of-week = "item.recurrenceDaysOfWeek">
        </timeline-textbox>
      </div><!--form-group-->

      <distribution-selector distribution="item.distribution" distribute-to-all="item.distributeToAll"></distribution-selector>
      
      <div class="modal-footer">

        <button id="playlistItemSave" class="btn btn-primary" ng-click="save()">Save<i class="fa fa-check icon-right"></i></button>
        <button class="btn btn-default" ng-click="dismiss()">{{'common.cancel' | translate}} <i class="fa fa-times icon-right"></i></button>
      </div>
    </div><!--modal-body-->
  </div>

</div>