
<div class="modal-header">
  <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">
    <i class="fa fa-times"></i>
  </button>

  <h3 class="modal-title">Select Images</h3>
</div>
<div class="modal-body storage-full" >

  <div class="btn-group btn-group-justified half-bottom">
    <a class="btn btn-default" ng-class="{active: selected}" ng-init="selected=true" ng-click="selected=true" type="button" >
      Storage&nbsp;&nbsp;<img src="http://s3.amazonaws.com/Rise-Images/Icons/storage.png" class="storage-selector-icon" ng-class="{'icon-right': label}">
    </a>
    <a class="btn btn-default" ng-class="{active: !selected}"  ng-click="selected=false" type="button" >
      By URL&nbsp;&nbsp;<i class="fa fa-link"></i>
    </a>
  </div>
  
  <form id="uploadform" style="height:0">
    <input type="file" id="upload-files" file-select multiple style="visibility: hidden;">
  </form>
  
  <div ng-show="selected">
    
     

    <button class="btn btn-default" ng-click="newFolderButtonClick('md');EmptyState=false" ng-show="trialActivated" onclick="$('#AddButton').removeClass('disabled');">Create Folder</button>

<button class="btn btn-primary" onclick="document.getElementById('upload-files').click();$('#AddButton').removeClass('disabled');" ng-click="EmptyState=false" ng-show="trialActivated" title="Select individual images to add and order them in your Playlist.">Upload Files</button>

<button class="btn btn-primary" ng-show="trialActivated" onclick="document.getElementById('upload-files').click();$('#AddButton').removeClass('disabled');" ng-click="EmptyState=false">Upload Folder<i class="fa fa-folder icon-right"></i> </button>


    <div class="btn-group pull-right" ng-init="gridView=true" ng-show="trialActivated">
      <a class="btn btn-default" ng-class="{active: gridView && !listView}" ng-click="gridView=true;listView=false"><i class="fa fa-lg fa-th-large"></i></a>
      <a class="btn btn-default" ng-class="{active: listView && !gridView}" ng-click="listView=true;gridView=false"><i class="fa fa-lg fa-th-list"></i></a>
    </div>


 <div class="subscription-status trial add-top" ng-show="trialActivated" >
        <span>29 days remaining on your trial</span>
        <button type="button" class="btn btn-primary add-left">
          <span translate="subscription-status.subscribe-now">Subscribe Now!</span>
        </button>
 </div>
  

    <div class="file-empty-state content-box add-top" ng-hide="!EmptyState" ng-init="EmptyState=true">

     <div class="container" id="pitchdeck" ng-init="trialActivated=false" ng-hide="trialActivated">
      <div>&nbsp;</div>
      <div class="add-bottom blank-state">
          <div class="product-graphic"> <img itemprop="image" class="img-responsive" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/storage_image.png"> </div>
          <div class="content-box-body ng-scope">
              <div class="product-intro">
                  <h1>Storage</h1>
                  <p class="lead"><strong>Manage and deliver media to your digital signage displays, anywhere, anytime.</strong></p>
                  <p class="lead">Free 30 days trial. No credit card required.</p>
                  <p class="lead">$10 per Company per Month.</p>
                  <button type="button" class="btn btn-hg btn-primary" ng-click="trialActivated=true">Start Your Free Trial</button>
              </div>
          </div>
        </div>
      </div>


      <div ng-show="trialActivated">
      <p class="add-top">You haven't uploaded any files yet! </p>
      <span> Select <b>Upload Files</b>, <b>Upload Folder</b>, or <b>Create Folder</b>.</span><br/><br/>
      <div><img src="https://s3.amazonaws.com/ux-design/sprint_prototype/slides.svg" width="70px" height="70px">
      <span>Select a Folder to show and update Images and Videos as you add or remove them from the Folder.</span></div>
      <div><img src="https://s3.amazonaws.com/ux-design/sprint_prototype/noun_18307_cc.svg" width="70px" height="50px">
      <span>Or just select single Images and Videos to add and order them in your Playlist</span></div>
      </div>

    </div>

   <div class="add-top" ng-show="!EmptyState">
     <div class="col-xs-6 remove-padding">
      <ol class="breadcrumb" ng-init="revealCrumb=false" ng-hide="revealCrumb">
          <li class="active">My Storage</li>
      </ol>
      <ol class="breadcrumb" ng-show="revealCrumb">
          <li><a href="#" ng-click="revealCrumb=false">My Storage</a></li>
          <li class="active">Instagram Folder</li>
      </ol>
    </div>
    <div class="col-xs-6">
     <search-filter filter-config="filterConfig" search="search" do-search="search.doSearch" ng-show="trialActivated"></search-filter>
    </div>
   </div>


     <!-- <p class="text-muted remove-bottom pull-left">Tip: You can drag and drop files here to upload them.</p> -->
<div class="scrollable-list content-box" ng-hide="!gridView || EmptyState || revealCrumb" ng-show="!EmptyState">
    <ul class="list-unstyled pt-media-list">
     <!--  <li ng-click="selectFile('flowers_002.jpg')">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_002.jpg">
        <input type="checkbox" class="checkbox" />
      </li> -->
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_001.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flower_003.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_002.jpg">
        <input type="checkbox" class="checkbox" />
      </li>
      <li class="folder folder-extended">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/folder.png" ng-click="revealCrumb=true">
        <input type="checkbox"  class="checkbox folder"/>
        <span>Instagram Folder</span>
        <span class="image-folder-info"> Select a Folder to show and update Images and Videos as you add or remove them from the Folder. </span>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flower_003.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="disabled-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/file.png" />
        <span class="ellipsis">mywordpress.doc</span>
      </li>
     <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_001.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="folder">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/folder.png">
        <input type="checkbox"  class="checkbox folder"/>
        <span>My Flickr Pictures</span>
         <span class="hidden image-folder-info"> Select a Folder to show and update Images and Videos as you add or remove them from the Folder. </span>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_002.jpg">
        <input type="checkbox" class="checkbox" />
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_001.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flower_003.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="placeholder-item">
        <svg-icon p="riseWidgetVideo"></svg-icon>
        <input type="checkbox" class="checkbox" />
        <span class="ellipsis">HorizonLine_001.webp</span>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_001.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flower_003.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_002.jpg">
        <input type="checkbox" class="checkbox" />
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_001.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="placeholder-item">
        <svg-icon p="riseWidgetImage"></svg-icon>
        <input type="checkbox"  class="checkbox"/>
        <span class="ellipsis">flower_001.jpeg</span>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_002.jpg">
        <input type="checkbox" class="checkbox" />
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_001.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
     <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flower_003.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_002.jpg">
        <input type="checkbox" class="checkbox" />
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_001.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flower_003.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_002.jpg">
        <input type="checkbox" class="checkbox" />
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_001.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flower_003.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_002.jpg">
        <input type="checkbox" class="checkbox" />
      </li>
       <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_002.jpg">
        <input type="checkbox" class="checkbox" />
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_001.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flower_003.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_002.jpg">
        <input type="checkbox" class="checkbox" />
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_001.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flower_003.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_002.jpg">
        <input type="checkbox" class="checkbox" />
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_001.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flower_003.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_002.jpg">
        <input type="checkbox" class="checkbox" />
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_001.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flower_003.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_002.jpg">
        <input type="checkbox" class="checkbox" />
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_001.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flower_003.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_002.jpg">
        <input type="checkbox" class="checkbox" />
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_001.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flower_003.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li class="single-item">
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_002.jpg">
        <input type="checkbox" class="checkbox" />
      </li>
    </ul>
</div>
<div class="scrollable-list content-box" ng-hide="!revealCrumb" ng-show="revealCrumb">
    <ul class="list-unstyled pt-media-list">
     
      <li>
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flower_003.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li>
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_002.jpg">
        <input type="checkbox"  class="checkbox"/>
      </li>
      <li>
        <img src="https://s3.amazonaws.com/ux-design/sprint_prototype/flowers_001.jpg">
        <input type="checkbox" class="checkbox" />
      </li>
    </ul>
</div>

<div class="scrollable-list content-box" ng-show="listView">
<table class="table-2 table-hover table-selector multiple-selector">
  <thead>
    <tr>
      <th class="col-sm-6">
        <input type="checkbox" class="add-right ng-pristine ng-untouched ng-valid" ng-model="selectAll">
        <label ng-click="selectAllCheckboxes(query)"></label>
        <a href="" ng-click="orderByAttribute = fileNameOrderFunction; reverseSort = !reverseSort">
          <span translate="common.file-name" class="ng-scope">Name</span>
          <span>
            <span ng-show="reverseSort" class="ng-hide">
              <i class="fa fa-long-arrow-up"></i>
            </span>
            <span ng-show="!reverseSort">
              <i class="fa fa-long-arrow-down"></i>
            </span>
          </span>
        </a>
      </th>
      <th class="col-sm-2 hidden-xs" ng-click="orderByAttribute = fileExtOrderFunction; reverseSort = !reverseSort">
        <a href=""><span translate="common.file-type" class="ng-scope">Type</span>
          <span ng-show="orderByAttribute==fileExtOrderFunction" class="ng-hide">
            <span ng-show="reverseSort" class="ng-hide">
              <i class="fa fa-long-arrow-up"></i>
            </span>
            <span ng-show="!reverseSort">
              <i class="fa fa-long-arrow-down"></i>
            </span>
          </span>
        </a>
      </th>
      <th class="col-sm-2 visible-lg" ng-click="orderByAttribute = fileSizeOrderFunction; reverseSort = !reverseSort">
        <a href=""><span translate="common.file-size" class="ng-scope">Size</span>
          <span ng-show="orderByAttribute==fileSizeOrderFunction" class="ng-hide">
            <span ng-show="reverseSort" class="ng-hide">
              <i class="fa fa-long-arrow-up"></i>
            </span>
            <span ng-show="!reverseSort">
              <i class="fa fa-long-arrow-down"></i>
            </span>
          </span>
        </a>
      </th>
      <th class="col-sm-2 visible-lg" ng-click="orderByAttribute = dateModifiedOrderFunction; reverseSort = !reverseSort">
        <a href=""><span translate="" class="ng-scope">Resolution</span>
          <span ng-show="orderByAttribute==dateModifiedOrderFunction" class="ng-hide">
            <span ng-show="reverseSort" class="ng-hide">
              <i class="fa fa-long-arrow-up"></i>
            </span>
            <span ng-show="!reverseSort">
              <i class="fa fa-long-arrow-down"></i>
            </span>
          </span>
        </a>
      </th>
    </tr>
  </thead>
<tbody>
    <tr class="clickable-row ng-scope" ng-click="fileClick(file);">
        <td class="col-sm-6">
            <span class="file" ng-class="{&quot;throttled-type&quot;: file.isThrottled &amp;&amp; !fileIsFolder(file)}">
          <a href="" data-toggle="tooltip" title="2016-03-08.jpg" class="ng-binding">
            <i class="fa" ng-class="{&quot;fa-exclamation&quot;: file.isThrottled &amp;&amp; !fileIsFolder(file), &quot;icon-red&quot;: file.isThrottled &amp;&amp; !fileIsFolder(file)}"></i>
            2016-03-08.jpg
          </a>
        </span>
        </td>
        <td class="col-sm-2 hidden-xs ng-scope">
            <span class="ng-binding"> JPG</span>
        </td>
        <td  class="col-sm-2 visible-lg ng-scope">
            <span class="ng-binding"> 2 MB</span>
        </td>
        <td class="col-sm-2 visible-lg ng-scope">
            <span class="ng-binding"> 1920x1080 </span>
        </td>
    </tr>
    <tr class="clickable-row ng-scope">
        <td colspan="5">
            <span class="folder ng-binding">Instagram Folder/</span>
        </td>
    </tr>
    <tr class="info-row"> 
    <td colspan="5"> 
    <span class=" ng-binding"> Select a Folder to show and update Images and Videos as you add or remove them from the Folder. </span> 
    </td> 
    </tr>

     <tr class="clickable-row ng-scope" ng-click="fileClick(file);">
        <td class="col-sm-6">
            <span class="file" ng-class="{&quot;throttled-type&quot;: file.isThrottled &amp;&amp; !fileIsFolder(file)}">
          <a href="" data-toggle="tooltip" title="2016-03-08.jpg" class="ng-binding">
            <i class="fa" ng-class="{&quot;fa-exclamation&quot;: file.isThrottled &amp;&amp; !fileIsFolder(file), &quot;icon-red&quot;: file.isThrottled &amp;&amp; !fileIsFolder(file)}"></i>
            2016-03-08.jpg
          </a>
        </span>
        </td>
        <td class="col-sm-2 hidden-xs ng-scope">
            <span class="ng-binding"> JPG</span>
        </td>
        <td  class="col-sm-2 visible-lg ng-scope">
            <span class="ng-binding"> 2 MB</span>
        </td>
        <td class="col-sm-2 visible-lg ng-scope">
            <span class="ng-binding"> 1920x1080 </span>
        </td>
    </tr>
     <tr class="clickable-row ng-scope" ng-click="fileClick(file);">
        <td class="col-sm-6">
            <span class="file" ng-class="{&quot;throttled-type&quot;: file.isThrottled &amp;&amp; !fileIsFolder(file)}">
          <a href="" data-toggle="tooltip" title="2016-03-08.jpg" class="ng-binding">
            <i class="fa" ng-class="{&quot;fa-exclamation&quot;: file.isThrottled &amp;&amp; !fileIsFolder(file), &quot;icon-red&quot;: file.isThrottled &amp;&amp; !fileIsFolder(file)}"></i>
            2016-03-08.jpg
          </a>
        </span>
        </td>
        <td class="col-sm-2 hidden-xs ng-scope">
            <span class="ng-binding"> JPG</span>
        </td>
        <td  class="col-sm-2 visible-lg ng-scope">
            <span class="ng-binding"> 2 MB</span>
        </td>
        <td class="col-sm-2 visible-lg ng-scope">
            <span class="ng-binding"> 1920x1080 </span>
        </td>
    </tr>
     <tr class="clickable-row ng-scope" ng-click="fileClick(file);">
        <td class="col-sm-6">
            <span class="file" ng-class="{&quot;throttled-type&quot;: file.isThrottled &amp;&amp; !fileIsFolder(file)}">
          <a  href="" data-toggle="tooltip" title="2016-03-08.jpg" class="ng-binding">
            <i class="fa" ng-class="{&quot;fa-exclamation&quot;: file.isThrottled &amp;&amp; !fileIsFolder(file), &quot;icon-red&quot;: file.isThrottled &amp;&amp; !fileIsFolder(file)}"></i>
            2016-03-08.jpg
          </a>
        </span>
        </td>
        <td class="col-sm-2 hidden-xs ng-scope">
            <span class="ng-binding"> JPG</span>
        </td>
        <td  class="col-sm-2 visible-lg ng-scope">
            <span class="ng-binding"> 2 MB</span>
        </td>
        <td class="col-sm-2 visible-lg ng-scope">
            <span class="ng-binding"> 1920x1080 </span>
        </td>
    </tr>
      <tr class="clickable-row ng-scope" ng-click="fileClick(file);">
        <td colspan="5">
            <span class="folder ng-binding">Instagram Folder/</span>
        </td>
    </tr>
     <tr class="clickable-row ng-scope" ng-click="fileClick(file);">
        <td class="col-sm-6">
            <span class="file" ng-class="{&quot;throttled-type&quot;: file.isThrottled &amp;&amp; !fileIsFolder(file)}">
          <a  href="" data-toggle="tooltip" title="2016-03-08.jpg" class="ng-binding">
            <i class="fa" ng-class="{&quot;fa-exclamation&quot;: file.isThrottled &amp;&amp; !fileIsFolder(file), &quot;icon-red&quot;: file.isThrottled &amp;&amp; !fileIsFolder(file)}"></i>
            2016-03-08.jpg
          </a>
        </span>
        </td>
        <td class="col-sm-2 hidden-xs ng-scope">
            <span class="ng-binding"> JPG</span>
        </td>
        <td  class="col-sm-2 visible-lg ng-scope">
            <span class="ng-binding"> 2 MB</span>
        </td>
        <td class="col-sm-2 visible-lg ng-scope">
            <span class="ng-binding"> 1920x1080 </span>
        </td>
    </tr>
</tbody>
</table>
</div>



    <div class="add-top text-right" ng-show="trialActivated">
      <button class="btn btn-primary disabled" id="AddButton" ng-click="selectFile('flower_003.jpg')" >Add Selection <i class="fa fa-plus icon-right"></i></button>
      <button class="btn btn-default" ng-click="dismiss()">
        {{'common.cancel' | translate}} <i class="fa fa-white fa-times icon-right"></i>
      </button>
    </div>
  </div>
  
  <div ng-show="!selected">
    <label class="control-label">URL</label>
    <div class="input-group">
      <input type="text" name="" class="form-control">
      <span class="input-group-addon clickable">
        Add
      </span>
    </div>
   
  </div>


</div>