<div class="workspace-sidebar" ng-class="{'show-ph-properties' : factory.placeholder}">
  <div class="workspace-sidebar-content">
    <div class="ph-properties">
      <a id="backToListButton" href="" class="btn btn-default pull-left add-right" ng-click="factory.clearPlaceholder()">
        <i class="fa fa-angle-left icon-left"></i>
        {{'common.back' | translate}}
      </a>
      <h4>Playlist1</h4>
      <div class="btn-group btn-group-justified half-bottom" role="group" aria-label="...">
        <a id="editPlaylistButton" href="" class="btn btn-default" ng-class="{'active' : showPlaylist}" ng-click="showPlaylist=true" >{{'editor-app.workspace.sidebar.edit.playlist' | translate}}</a>
        <a id="editPropertiesButton" href="" class="btn btn-default" ng-class="{'active' : !showPlaylist}" ng-click="showPlaylist=false" >{{'editor-app.workspace.sidebar.edit.properties' |translate}}</a>        
      </div>

      <div class="ph-playlist animated fadeIn" ng-show="factory.placeholder && showPlaylist">
        <placeholder-playlist></placeholder-playlist>
      </div>

      <div class="ph-settings animated fadeIn" ng-show="factory.placeholder && !showPlaylist">
        <placeholder-settings></placeholder-settings>
      </div>
      <!--ph-settings-->
    </div>

    <div class="ph-list">
      <button id="addPlaceholderButton" class="btn btn-primary btn-block protip" data-pt-title="Click to add Images, Video, Text, and More" data-pt-position="bottom" data-pt-width="600" data-pt-trigger="sticky" data-pt-offset-top="15" data-pt-auto-hide="5000" data-pt-animate="bounceIn" ng-show="designMode" ng-click="addNewPlaceholder()">Add Placeholder<i class="fa fa-plus icon-right"></i></button>
      <placeholders-list></placeholders-list>
    </div>

    <script>
  
      $.protip();

      var el = $('#addPlaceholderButton');

      el.hover(function() {
          el.protipShow();
      });

      el.protipHide();

      $('#artboard').mouseenter(function() {
          el.protipShow();
      });
      $('#artboard').mouseleave(function() {
          el.protipHide();
      });
      
    </script>

  </div><!--content-box-body-->
</div><!--workspaceSidebar-->
